@media (max-width: 600px) {
  .container {
    margin: 50px;
    font-size: 20px;
  }
}

body {
  background: url("../images/jaguar-xe.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: rgba(0,0,0,0.6);
  max-width: 600px;
  border-radius: 10px;
  padding: 10px 25px 25px;
  margin: 100px;
  color: white;
}

.container a {
  color: white;
  background-color: #DB3030;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
